                <option value="AF" {% if doacao and doacao.pais == "AF" %}selected{% endif %}>🇦🇫 Afeganistão</option>
                <option value="AL" {% if doacao and doacao.pais == "AL" %}selected{% endif %}>🇦🇱 Albânia</option>
                <option value="DE" {% if doacao and doacao.pais == "DE" %}selected{% endif %}>🇩🇪 Alemanha</option>
                <option value="AD" {% if doacao and doacao.pais == "AD" %}selected{% endif %}>🇦🇩 Andorra</option>
                <option value="AO" {% if doacao and doacao.pais == "AO" %}selected{% endif %}>🇦🇴 Angola</option>
                <option value="AI" {% if doacao and doacao.pais == "AI" %}selected{% endif %}>🇦🇮 Anguilla</option>
                <option value="AQ" {% if doacao and doacao.pais == "AQ" %}selected{% endif %}>🇦🇶 Antártida</option>
                <option value="AG" {% if doacao and doacao.pais == "AG" %}selected{% endif %}>🇦🇬 Antígua e Barbuda</option>
                <option value="AR" {% if doacao and doacao.pais == "AR" %}selected{% endif %}>🇦🇷 Argentina</option>
                <option value="DZ" {% if doacao and doacao.pais == "DZ" %}selected{% endif %}>🇩🇿 Argélia</option>
                <option value="AM" {% if doacao and doacao.pais == "AM" %}selected{% endif %}>🇦🇲 Armênia</option>
                <option value="AW" {% if doacao and doacao.pais == "AW" %}selected{% endif %}>🇦🇼 Aruba</option>
                <option value="SA" {% if doacao and doacao.pais == "SA" %}selected{% endif %}>🇸🇦 Arábia Saudita</option>
                <option value="AU" {% if doacao and doacao.pais == "AU" %}selected{% endif %}>🇦🇺 Austrália</option>
                <option value="AZ" {% if doacao and doacao.pais == "AZ" %}selected{% endif %}>🇦🇿 Azerbaijão</option>
                <option value="BS" {% if doacao and doacao.pais == "BS" %}selected{% endif %}>🇧🇸 Bahamas</option>
                <option value="BH" {% if doacao and doacao.pais == "BH" %}selected{% endif %}>🇧🇭 Bahrein</option>
                <option value="BD" {% if doacao and doacao.pais == "BD" %}selected{% endif %}>🇧🇩 Bangladesh</option>
                <option value="BB" {% if doacao and doacao.pais == "BB" %}selected{% endif %}>🇧🇧 Barbados</option>
                <option value="BZ" {% if doacao and doacao.pais == "BZ" %}selected{% endif %}>🇧🇿 Belize</option>
                <option value="BJ" {% if doacao and doacao.pais == "BJ" %}selected{% endif %}>🇧🇯 Benin</option>
                <option value="BM" {% if doacao and doacao.pais == "BM" %}selected{% endif %}>🇧🇲 Bermudas</option>
                <option value="BY" {% if doacao and doacao.pais == "BY" %}selected{% endif %}>🇧🇾 Bielorrússia</option>
                <option value="BO" {% if doacao and doacao.pais == "BO" %}selected{% endif %}>🇧🇴 Bolívia</option>
                <option value="BW" {% if doacao and doacao.pais == "BW" %}selected{% endif %}>🇧🇼 Botsuana</option>
                <option value="BR" {% if doacao and doacao.pais == "BR" %}selected{% endif %}>🇧🇷 Brasil</option>
                <option value="BN" {% if doacao and doacao.pais == "BN" %}selected{% endif %}>🇧🇳 Brunei</option>
                <option value="BG" {% if doacao and doacao.pais == "BG" %}selected{% endif %}>🇧🇬 Bulgária</option>
                <option value="BF" {% if doacao and doacao.pais == "BF" %}selected{% endif %}>🇧🇫 Burkina Faso</option>
                <option value="BI" {% if doacao and doacao.pais == "BI" %}selected{% endif %}>🇧🇮 Burundi</option>
                <option value="BT" {% if doacao and doacao.pais == "BT" %}selected{% endif %}>🇧🇹 Butão</option>
                <option value="BE" {% if doacao and doacao.pais == "BE" %}selected{% endif %}>🇧🇪 Bélgica</option>
                <option value="BA" {% if doacao and doacao.pais == "BA" %}selected{% endif %}>🇧🇦 Bósnia e Herzegovina</option>
                <option value="CV" {% if doacao and doacao.pais == "CV" %}selected{% endif %}>🇨🇻 Cabo Verde</option>
                <option value="CM" {% if doacao and doacao.pais == "CM" %}selected{% endif %}>🇨🇲 Camarões</option>
                <option value="KH" {% if doacao and doacao.pais == "KH" %}selected{% endif %}>🇰🇭 Camboja</option>
                <option value="CA" {% if doacao and doacao.pais == "CA" %}selected{% endif %}>🇨🇦 Canadá</option>
                <option value="QA" {% if doacao and doacao.pais == "QA" %}selected{% endif %}>🇶🇦 Catar</option>
                <option value="KZ" {% if doacao and doacao.pais == "KZ" %}selected{% endif %}>🇰🇿 Cazaquistão</option>
                <option value="TD" {% if doacao and doacao.pais == "TD" %}selected{% endif %}>🇹🇩 Chade</option>
                <option value="CL" {% if doacao and doacao.pais == "CL" %}selected{% endif %}>🇨🇱 Chile</option>
                <option value="CN" {% if doacao and doacao.pais == "CN" %}selected{% endif %}>🇨🇳 China</option>
                <option value="CY" {% if doacao and doacao.pais == "CY" %}selected{% endif %}>🇨🇾 Chipre</option>
                <option value="CO" {% if doacao and doacao.pais == "CO" %}selected{% endif %}>🇨🇴 Colômbia</option>
                <option value="KM" {% if doacao and doacao.pais == "KM" %}selected{% endif %}>🇰🇲 Comores</option>
                <option value="CG" {% if doacao and doacao.pais == "CG" %}selected{% endif %}>🇨🇬 Congo</option>
                <option value="CD" {% if doacao and doacao.pais == "CD" %}selected{% endif %}>🇨🇩 Congo (RDC)</option>
                <option value="KP" {% if doacao and doacao.pais == "KP" %}selected{% endif %}>🇰🇵 Coreia do Norte</option>
                <option value="KR" {% if doacao and doacao.pais == "KR" %}selected{% endif %}>🇰🇷 Coreia do Sul</option>
                <option value="CR" {% if doacao and doacao.pais == "CR" %}selected{% endif %}>🇨🇷 Costa Rica</option>
                <option value="CI" {% if doacao and doacao.pais == "CI" %}selected{% endif %}>🇨🇮 Costa do Marfim</option>
                <option value="HR" {% if doacao and doacao.pais == "HR" %}selected{% endif %}>🇭🇷 Croácia</option>
                <option value="CU" {% if doacao and doacao.pais == "CU" %}selected{% endif %}>🇨🇺 Cuba</option>
                <option value="CW" {% if doacao and doacao.pais == "CW" %}selected{% endif %}>🇨🇼 Curaçao</option>
                <option value="DK" {% if doacao and doacao.pais == "DK" %}selected{% endif %}>🇩🇰 Dinamarca</option>
                <option value="DJ" {% if doacao and doacao.pais == "DJ" %}selected{% endif %}>🇩🇯 Djibuti</option>
                <option value="DM" {% if doacao and doacao.pais == "DM" %}selected{% endif %}>🇩🇲 Dominica</option>
                <option value="EG" {% if doacao and doacao.pais == "EG" %}selected{% endif %}>🇪🇬 Egito</option>
                <option value="SV" {% if doacao and doacao.pais == "SV" %}selected{% endif %}>🇸🇻 El Salvador</option>
                <option value="AE" {% if doacao and doacao.pais == "AE" %}selected{% endif %}>🇦🇪 Emirados Árabes Unidos</option>
                <option value="EC" {% if doacao and doacao.pais == "EC" %}selected{% endif %}>🇪🇨 Equador</option>
                <option value="ER" {% if doacao and doacao.pais == "ER" %}selected{% endif %}>🇪🇷 Eritreia</option>
                <option value="SK" {% if doacao and doacao.pais == "SK" %}selected{% endif %}>🇸🇰 Eslováquia</option>
                <option value="SI" {% if doacao and doacao.pais == "SI" %}selected{% endif %}>🇸🇮 Eslovênia</option>
                <option value="ES" {% if doacao and doacao.pais == "ES" %}selected{% endif %}>🇪🇸 Espanha</option>
                <option value="US" {% if doacao and doacao.pais == "US" %}selected{% endif %}>🇺🇸 Estados Unidos</option>
                <option value="EE" {% if doacao and doacao.pais == "EE" %}selected{% endif %}>🇪🇪 Estônia</option>
                <option value="SZ" {% if doacao and doacao.pais == "SZ" %}selected{% endif %}>🇸🇿 Eswatini</option>
                <option value="ET" {% if doacao and doacao.pais == "ET" %}selected{% endif %}>🇪🇹 Etiópia</option>
                <option value="FJ" {% if doacao and doacao.pais == "FJ" %}selected{% endif %}>🇫🇯 Fiji</option>
                <option value="PH" {% if doacao and doacao.pais == "PH" %}selected{% endif %}>🇵🇭 Filipinas</option>
                <option value="FI" {% if doacao and doacao.pais == "FI" %}selected{% endif %}>🇫🇮 Finlândia</option>
                <option value="FR" {% if doacao and doacao.pais == "FR" %}selected{% endif %}>🇫🇷 França</option>
                <option value="GA" {% if doacao and doacao.pais == "GA" %}selected{% endif %}>🇬🇦 Gabão</option>
                <option value="GH" {% if doacao and doacao.pais == "GH" %}selected{% endif %}>🇬🇭 Gana</option>
                <option value="GE" {% if doacao and doacao.pais == "GE" %}selected{% endif %}>🇬🇪 Geórgia</option>
                <option value="GI" {% if doacao and doacao.pais == "GI" %}selected{% endif %}>🇬🇮 Gibraltar</option>
                <option value="GD" {% if doacao and doacao.pais == "GD" %}selected{% endif %}>🇬🇩 Granada</option>
                <option value="GL" {% if doacao and doacao.pais == "GL" %}selected{% endif %}>🇬🇱 Groenlândia</option>
                <option value="GR" {% if doacao and doacao.pais == "GR" %}selected{% endif %}>🇬🇷 Grécia</option>
                <option value="GP" {% if doacao and doacao.pais == "GP" %}selected{% endif %}>🇬🇵 Guadalupe</option>
                <option value="GU" {% if doacao and doacao.pais == "GU" %}selected{% endif %}>🇬🇺 Guam</option>
                <option value="GT" {% if doacao and doacao.pais == "GT" %}selected{% endif %}>🇬🇹 Guatemala</option>
                <option value="GG" {% if doacao and doacao.pais == "GG" %}selected{% endif %}>🇬🇬 Guernsey</option>
                <option value="GY" {% if doacao and doacao.pais == "GY" %}selected{% endif %}>🇬🇾 Guiana</option>
                <option value="GF" {% if doacao and doacao.pais == "GF" %}selected{% endif %}>🇬🇫 Guiana Francesa</option>
                <option value="GN" {% if doacao and doacao.pais == "GN" %}selected{% endif %}>🇬🇳 Guiné</option>
                <option value="GQ" {% if doacao and doacao.pais == "GQ" %}selected{% endif %}>🇬🇶 Guiné Equatorial</option>
                <option value="GW" {% if doacao and doacao.pais == "GW" %}selected{% endif %}>🇬🇼 Guiné-Bissau</option>
                <option value="GM" {% if doacao and doacao.pais == "GM" %}selected{% endif %}>🇬🇲 Gâmbia</option>
                <option value="HT" {% if doacao and doacao.pais == "HT" %}selected{% endif %}>🇭🇹 Haiti</option>
                <option value="HN" {% if doacao and doacao.pais == "HN" %}selected{% endif %}>🇭🇳 Honduras</option>
                <option value="HK" {% if doacao and doacao.pais == "HK" %}selected{% endif %}>🇭🇰 Hong Kong</option>
                <option value="HU" {% if doacao and doacao.pais == "HU" %}selected{% endif %}>🇭🇺 Hungria</option>
                <option value="BV" {% if doacao and doacao.pais == "BV" %}selected{% endif %}>🇧🇻 Ilha Bouvet</option>
                <option value="CX" {% if doacao and doacao.pais == "CX" %}selected{% endif %}>🇨🇽 Ilha Christmas</option>
                <option value="NF" {% if doacao and doacao.pais == "NF" %}selected{% endif %}>🇳🇫 Ilha Norfolk</option>
                <option value="IM" {% if doacao and doacao.pais == "IM" %}selected{% endif %}>🇮🇲 Ilha de Man</option>
                <option value="KY" {% if doacao and doacao.pais == "KY" %}selected{% endif %}>🇰🇾 Ilhas Cayman</option>
                <option value="CC" {% if doacao and doacao.pais == "CC" %}selected{% endif %}>🇨🇨 Ilhas Cocos</option>
                <option value="CK" {% if doacao and doacao.pais == "CK" %}selected{% endif %}>🇨🇰 Ilhas Cook</option>
                <option value="FO" {% if doacao and doacao.pais == "FO" %}selected{% endif %}>🇫🇴 Ilhas Faroé</option>
                <option value="GS" {% if doacao and doacao.pais == "GS" %}selected{% endif %}>🇬🇸 Ilhas Geórgia do Sul</option>
                <option value="HM" {% if doacao and doacao.pais == "HM" %}selected{% endif %}>🇭🇲 Ilhas Heard</option>
                <option value="FK" {% if doacao and doacao.pais == "FK" %}selected{% endif %}>🇫🇰 Ilhas Malvinas</option>
                <option value="MP" {% if doacao and doacao.pais == "MP" %}selected{% endif %}>🇲🇵 Ilhas Marianas do Norte</option>
                <option value="MH" {% if doacao and doacao.pais == "MH" %}selected{% endif %}>🇲🇭 Ilhas Marshall</option>
                <option value="UM" {% if doacao and doacao.pais == "UM" %}selected{% endif %}>🇺🇲 Ilhas Menores dos EUA</option>
                <option value="PN" {% if doacao and doacao.pais == "PN" %}selected{% endif %}>🇵🇳 Ilhas Pitcairn</option>
                <option value="SB" {% if doacao and doacao.pais == "SB" %}selected{% endif %}>🇸🇧 Ilhas Salomão</option>
                <option value="TC" {% if doacao and doacao.pais == "TC" %}selected{% endif %}>🇹🇨 Ilhas Turcas e Caicos</option>
                <option value="VG" {% if doacao and doacao.pais == "VG" %}selected{% endif %}>🇻🇬 Ilhas Virgens Britânicas</option>
                <option value="VI" {% if doacao and doacao.pais == "VI" %}selected{% endif %}>🇻🇮 Ilhas Virgens dos EUA</option>
                <option value="AX" {% if doacao and doacao.pais == "AX" %}selected{% endif %}>🇦🇽 Ilhas Åland</option>
                <option value="ID" {% if doacao and doacao.pais == "ID" %}selected{% endif %}>🇮🇩 Indonésia</option>
                <option value="IQ" {% if doacao and doacao.pais == "IQ" %}selected{% endif %}>🇮🇶 Iraque</option>
                <option value="IE" {% if doacao and doacao.pais == "IE" %}selected{% endif %}>🇮🇪 Irlanda</option>
                <option value="IR" {% if doacao and doacao.pais == "IR" %}selected{% endif %}>🇮🇷 Irã</option>
                <option value="IS" {% if doacao and doacao.pais == "IS" %}selected{% endif %}>🇮🇸 Islândia</option>
                <option value="IL" {% if doacao and doacao.pais == "IL" %}selected{% endif %}>🇮🇱 Israel</option>
                <option value="IT" {% if doacao and doacao.pais == "IT" %}selected{% endif %}>🇮🇹 Itália</option>
                <option value="YE" {% if doacao and doacao.pais == "YE" %}selected{% endif %}>🇾🇪 Iêmen</option>
                <option value="JM" {% if doacao and doacao.pais == "JM" %}selected{% endif %}>🇯🇲 Jamaica</option>
                <option value="JP" {% if doacao and doacao.pais == "JP" %}selected{% endif %}>🇯🇵 Japão</option>
                <option value="JE" {% if doacao and doacao.pais == "JE" %}selected{% endif %}>🇯🇪 Jersey</option>
                <option value="JO" {% if doacao and doacao.pais == "JO" %}selected{% endif %}>🇯🇴 Jordânia</option>
                <option value="KI" {% if doacao and doacao.pais == "KI" %}selected{% endif %}>🇰🇮 Kiribati</option>
                <option value="KW" {% if doacao and doacao.pais == "KW" %}selected{% endif %}>🇰🇼 Kuwait</option>
                <option value="LA" {% if doacao and doacao.pais == "LA" %}selected{% endif %}>🇱🇦 Laos</option>
                <option value="LS" {% if doacao and doacao.pais == "LS" %}selected{% endif %}>🇱🇸 Lesoto</option>
                <option value="LV" {% if doacao and doacao.pais == "LV" %}selected{% endif %}>🇱🇻 Letônia</option>
                <option value="LR" {% if doacao and doacao.pais == "LR" %}selected{% endif %}>🇱🇷 Libéria</option>
                <option value="LI" {% if doacao and doacao.pais == "LI" %}selected{% endif %}>🇱🇮 Liechtenstein</option>
                <option value="LT" {% if doacao and doacao.pais == "LT" %}selected{% endif %}>🇱🇹 Lituânia</option>
                <option value="LU" {% if doacao and doacao.pais == "LU" %}selected{% endif %}>🇱🇺 Luxemburgo</option>
                <option value="LB" {% if doacao and doacao.pais == "LB" %}selected{% endif %}>🇱🇧 Líbano</option>
                <option value="LY" {% if doacao and doacao.pais == "LY" %}selected{% endif %}>🇱🇾 Líbia</option>
                <option value="MO" {% if doacao and doacao.pais == "MO" %}selected{% endif %}>🇲🇴 Macau</option>
                <option value="MK" {% if doacao and doacao.pais == "MK" %}selected{% endif %}>🇲🇰 Macedônia do Norte</option>
                <option value="MG" {% if doacao and doacao.pais == "MG" %}selected{% endif %}>🇲🇬 Madagascar</option>
                <option value="MW" {% if doacao and doacao.pais == "MW" %}selected{% endif %}>🇲🇼 Malawi</option>
                <option value="MV" {% if doacao and doacao.pais == "MV" %}selected{% endif %}>🇲🇻 Maldivas</option>
                <option value="ML" {% if doacao and doacao.pais == "ML" %}selected{% endif %}>🇲🇱 Mali</option>
                <option value="MT" {% if doacao and doacao.pais == "MT" %}selected{% endif %}>🇲🇹 Malta</option>
                <option value="MY" {% if doacao and doacao.pais == "MY" %}selected{% endif %}>🇲🇾 Malásia</option>
                <option value="MA" {% if doacao and doacao.pais == "MA" %}selected{% endif %}>🇲🇦 Marrocos</option>
                <option value="MQ" {% if doacao and doacao.pais == "MQ" %}selected{% endif %}>🇲🇶 Martinica</option>
                <option value="MR" {% if doacao and doacao.pais == "MR" %}selected{% endif %}>🇲🇷 Mauritânia</option>
                <option value="MU" {% if doacao and doacao.pais == "MU" %}selected{% endif %}>🇲🇺 Maurício</option>
                <option value="YT" {% if doacao and doacao.pais == "YT" %}selected{% endif %}>🇾🇹 Mayotte</option>
                <option value="FM" {% if doacao and doacao.pais == "FM" %}selected{% endif %}>🇫🇲 Micronésia</option>
                <option value="MD" {% if doacao and doacao.pais == "MD" %}selected{% endif %}>🇲🇩 Moldávia</option>
                <option value="MN" {% if doacao and doacao.pais == "MN" %}selected{% endif %}>🇲🇳 Mongólia</option>
                <option value="ME" {% if doacao and doacao.pais == "ME" %}selected{% endif %}>🇲🇪 Montenegro</option>
                <option value="MS" {% if doacao and doacao.pais == "MS" %}selected{% endif %}>🇲🇸 Montserrat</option>
                <option value="MZ" {% if doacao and doacao.pais == "MZ" %}selected{% endif %}>🇲🇿 Moçambique</option>
                <option value="MM" {% if doacao and doacao.pais == "MM" %}selected{% endif %}>🇲🇲 Myanmar</option>
                <option value="MX" {% if doacao and doacao.pais == "MX" %}selected{% endif %}>🇲🇽 México</option>
                <option value="MC" {% if doacao and doacao.pais == "MC" %}selected{% endif %}>🇲🇨 Mônaco</option>
                <option value="NA" {% if doacao and doacao.pais == "NA" %}selected{% endif %}>🇳🇦 Namíbia</option>
                <option value="NR" {% if doacao and doacao.pais == "NR" %}selected{% endif %}>🇳🇷 Nauru</option>
                <option value="NP" {% if doacao and doacao.pais == "NP" %}selected{% endif %}>🇳🇵 Nepal</option>
                <option value="NI" {% if doacao and doacao.pais == "NI" %}selected{% endif %}>🇳🇮 Nicarágua</option>
                <option value="NG" {% if doacao and doacao.pais == "NG" %}selected{% endif %}>🇳🇬 Nigéria</option>
                <option value="NU" {% if doacao and doacao.pais == "NU" %}selected{% endif %}>🇳🇺 Niue</option>
                <option value="NO" {% if doacao and doacao.pais == "NO" %}selected{% endif %}>🇳🇴 Noruega</option>
                <option value="NC" {% if doacao and doacao.pais == "NC" %}selected{% endif %}>🇳🇨 Nova Caledônia</option>
                <option value="NZ" {% if doacao and doacao.pais == "NZ" %}selected{% endif %}>🇳🇿 Nova Zelândia</option>
                <option value="NE" {% if doacao and doacao.pais == "NE" %}selected{% endif %}>🇳🇪 Níger</option>
                <option value="OM" {% if doacao and doacao.pais == "OM" %}selected{% endif %}>🇴🇲 Omã</option>
                <option value="PW" {% if doacao and doacao.pais == "PW" %}selected{% endif %}>🇵🇼 Palau</option>
                <option value="PS" {% if doacao and doacao.pais == "PS" %}selected{% endif %}>🇵🇸 Palestina</option>
                <option value="PA" {% if doacao and doacao.pais == "PA" %}selected{% endif %}>🇵🇦 Panamá</option>
                <option value="PG" {% if doacao and doacao.pais == "PG" %}selected{% endif %}>🇵🇬 Papua-Nova Guiné</option>
                <option value="PK" {% if doacao and doacao.pais == "PK" %}selected{% endif %}>🇵🇰 Paquistão</option>
                <option value="PY" {% if doacao and doacao.pais == "PY" %}selected{% endif %}>🇵🇾 Paraguai</option>
                <option value="NL" {% if doacao and doacao.pais == "NL" %}selected{% endif %}>🇳🇱 Países Baixos</option>
                <option value="PE" {% if doacao and doacao.pais == "PE" %}selected{% endif %}>🇵🇪 Peru</option>
                <option value="PF" {% if doacao and doacao.pais == "PF" %}selected{% endif %}>🇵🇫 Polinésia Francesa</option>
                <option value="PL" {% if doacao and doacao.pais == "PL" %}selected{% endif %}>🇵🇱 Polônia</option>
                <option value="PR" {% if doacao and doacao.pais == "PR" %}selected{% endif %}>🇵🇷 Porto Rico</option>
                <option value="PT" {% if doacao and doacao.pais == "PT" %}selected{% endif %}>🇵🇹 Portugal</option>
                <option value="KG" {% if doacao and doacao.pais == "KG" %}selected{% endif %}>🇰🇬 Quirguistão</option>
                <option value="KE" {% if doacao and doacao.pais == "KE" %}selected{% endif %}>🇰🇪 Quênia</option>
                <option value="GB" {% if doacao and doacao.pais == "GB" %}selected{% endif %}>🇬🇧 Reino Unido</option>
                <option value="CF" {% if doacao and doacao.pais == "CF" %}selected{% endif %}>🇨🇫 República Centro-Africana</option>
                <option value="DO" {% if doacao and doacao.pais == "DO" %}selected{% endif %}>🇩🇴 República Dominicana</option>
                <option value="CZ" {% if doacao and doacao.pais == "CZ" %}selected{% endif %}>🇨🇿 República Tcheca</option>
                <option value="RE" {% if doacao and doacao.pais == "RE" %}selected{% endif %}>🇷🇪 Reunião</option>
                <option value="RO" {% if doacao and doacao.pais == "RO" %}selected{% endif %}>🇷🇴 Romênia</option>
                <option value="RW" {% if doacao and doacao.pais == "RW" %}selected{% endif %}>🇷🇼 Ruanda</option>
                <option value="RU" {% if doacao and doacao.pais == "RU" %}selected{% endif %}>🇷🇺 Rússia</option>
                <option value="EH" {% if doacao and doacao.pais == "EH" %}selected{% endif %}>🇪🇭 Saara Ocidental</option>
                <option value="PM" {% if doacao and doacao.pais == "PM" %}selected{% endif %}>🇵🇲 Saint Pierre e Miquelon</option>
                <option value="BL" {% if doacao and doacao.pais == "BL" %}selected{% endif %}>🇧🇱 Saint-Barthélemy</option>
                <option value="WS" {% if doacao and doacao.pais == "WS" %}selected{% endif %}>🇼🇸 Samoa</option>
                <option value="AS" {% if doacao and doacao.pais == "AS" %}selected{% endif %}>🇦🇸 Samoa Americana</option>
                <option value="SM" {% if doacao and doacao.pais == "SM" %}selected{% endif %}>🇸🇲 San Marino</option>
                <option value="SH" {% if doacao and doacao.pais == "SH" %}selected{% endif %}>🇸🇭 Santa Helena</option>
                <option value="LC" {% if doacao and doacao.pais == "LC" %}selected{% endif %}>🇱🇨 Santa Lúcia</option>
                <option value="SC" {% if doacao and doacao.pais == "SC" %}selected{% endif %}>🇸🇨 Seicheles</option>
                <option value="SN" {% if doacao and doacao.pais == "SN" %}selected{% endif %}>🇸🇳 Senegal</option>
                <option value="SL" {% if doacao and doacao.pais == "SL" %}selected{% endif %}>🇸🇱 Serra Leoa</option>
                <option value="SG" {% if doacao and doacao.pais == "SG" %}selected{% endif %}>🇸🇬 Singapura</option>
                <option value="SX" {% if doacao and doacao.pais == "SX" %}selected{% endif %}>🇸🇽 Sint Maarten</option>
                <option value="SO" {% if doacao and doacao.pais == "SO" %}selected{% endif %}>🇸🇴 Somália</option>
                <option value="LK" {% if doacao and doacao.pais == "LK" %}selected{% endif %}>🇱🇰 Sri Lanka</option>
                <option value="SD" {% if doacao and doacao.pais == "SD" %}selected{% endif %}>🇸🇩 Sudão</option>
                <option value="SS" {% if doacao and doacao.pais == "SS" %}selected{% endif %}>🇸🇸 Sudão do Sul</option>
                <option value="SR" {% if doacao and doacao.pais == "SR" %}selected{% endif %}>🇸🇷 Suriname</option>
                <option value="SE" {% if doacao and doacao.pais == "SE" %}selected{% endif %}>🇸🇪 Suécia</option>
                <option value="CH" {% if doacao and doacao.pais == "CH" %}selected{% endif %}>🇨🇭 Suíça</option>
                <option value="SJ" {% if doacao and doacao.pais == "SJ" %}selected{% endif %}>🇸🇯 Svalbard e Jan Mayen</option>
                <option value="KN" {% if doacao and doacao.pais == "KN" %}selected{% endif %}>🇰🇳 São Cristóvão e Névis</option>
                <option value="ST" {% if doacao and doacao.pais == "ST" %}selected{% endif %}>🇸🇹 São Tomé e Príncipe</option>
                <option value="VC" {% if doacao and doacao.pais == "VC" %}selected{% endif %}>🇻🇨 São Vicente e Granadinas</option>
                <option value="RS" {% if doacao and doacao.pais == "RS" %}selected{% endif %}>🇷🇸 Sérvia</option>
                <option value="SY" {% if doacao and doacao.pais == "SY" %}selected{% endif %}>🇸🇾 Síria</option>
                <option value="TJ" {% if doacao and doacao.pais == "TJ" %}selected{% endif %}>🇹🇯 Tadjiquistão</option>
                <option value="TH" {% if doacao and doacao.pais == "TH" %}selected{% endif %}>🇹🇭 Tailândia</option>
                <option value="TW" {% if doacao and doacao.pais == "TW" %}selected{% endif %}>🇹🇼 Taiwan</option>
                <option value="TZ" {% if doacao and doacao.pais == "TZ" %}selected{% endif %}>🇹🇿 Tanzânia</option>
                <option value="TF" {% if doacao and doacao.pais == "TF" %}selected{% endif %}>🇹🇫 Terras Austrais Francesas</option>
                <option value="IO" {% if doacao and doacao.pais == "IO" %}selected{% endif %}>🇮🇴 Território Britânico do Oceano Índico</option>
                <option value="TL" {% if doacao and doacao.pais == "TL" %}selected{% endif %}>🇹🇱 Timor-Leste</option>
                <option value="TG" {% if doacao and doacao.pais == "TG" %}selected{% endif %}>🇹🇬 Togo</option>
                <option value="TK" {% if doacao and doacao.pais == "TK" %}selected{% endif %}>🇹🇰 Tokelau</option>
                <option value="TO" {% if doacao and doacao.pais == "TO" %}selected{% endif %}>🇹🇴 Tonga</option>
                <option value="TT" {% if doacao and doacao.pais == "TT" %}selected{% endif %}>🇹🇹 Trinidad e Tobago</option>
                <option value="TN" {% if doacao and doacao.pais == "TN" %}selected{% endif %}>🇹🇳 Tunísia</option>
                <option value="TM" {% if doacao and doacao.pais == "TM" %}selected{% endif %}>🇹🇲 Turcomenistão</option>
                <option value="TR" {% if doacao and doacao.pais == "TR" %}selected{% endif %}>🇹🇷 Turquia</option>
                <option value="TV" {% if doacao and doacao.pais == "TV" %}selected{% endif %}>🇹🇻 Tuvalu</option>
                <option value="UA" {% if doacao and doacao.pais == "UA" %}selected{% endif %}>🇺🇦 Ucrânia</option>
                <option value="UG" {% if doacao and doacao.pais == "UG" %}selected{% endif %}>🇺🇬 Uganda</option>
                <option value="UY" {% if doacao and doacao.pais == "UY" %}selected{% endif %}>🇺🇾 Uruguai</option>
                <option value="UZ" {% if doacao and doacao.pais == "UZ" %}selected{% endif %}>🇺🇿 Uzbequistão</option>
                <option value="VU" {% if doacao and doacao.pais == "VU" %}selected{% endif %}>🇻🇺 Vanuatu</option>
                <option value="VA" {% if doacao and doacao.pais == "VA" %}selected{% endif %}>🇻🇦 Vaticano</option>
                <option value="VE" {% if doacao and doacao.pais == "VE" %}selected{% endif %}>🇻🇪 Venezuela</option>
                <option value="VN" {% if doacao and doacao.pais == "VN" %}selected{% endif %}>🇻🇳 Vietnã</option>
                <option value="WF" {% if doacao and doacao.pais == "WF" %}selected{% endif %}>🇼🇫 Wallis e Futuna</option>
                <option value="ZW" {% if doacao and doacao.pais == "ZW" %}selected{% endif %}>🇿🇼 Zimbábue</option>
                <option value="ZM" {% if doacao and doacao.pais == "ZM" %}selected{% endif %}>🇿🇲 Zâmbia</option>
                <option value="ZA" {% if doacao and doacao.pais == "ZA" %}selected{% endif %}>🇿🇦 África do Sul</option>
                <option value="AT" {% if doacao and doacao.pais == "AT" %}selected{% endif %}>🇦🇹 Áustria</option>
                <option value="IN" {% if doacao and doacao.pais == "IN" %}selected{% endif %}>🇮🇳 Índia</option>

